h3 {
  background-color: red;
}
.box1 {
  background-color: coral;
  /* espaçamento interno */
  padding: 16px;
  /* espaçamento externo */
  margin: 8px;
}
.box2 {
  background-color: green;
  padding: 8px 20px 4px 10px;
  margin: 8px 10px 20px 40px;
}
.box3 {
  background-color: brown;
  /* espessura estilo cor */
  border:2px dotted yellow;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
}
.box4 {
  background-color: seagreen;
  width: 400px;
  padding: 20px;
  border: 5px solid red;
}
/* (*) = todos os elementos */
* {
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  /*background:https://soulcodeacademy.org/assets/images/logo/light-logo.png) right bottom no-repeat fixed;*/
  background-image: url("https://soulcodeacademy.org/assets/images/logo/light-logo.png");
  background-repeat: no-repeat;/*y = vertical, x = horizontal;
  /* cover = zoom */
  /* contain = estica a imagem */
  /* background-size: contain; */
  /*background-position: center; */
  background-position: left bottom;
  background-attachment: fixed;
  /* height: 100vh; viewport height = vh */
  


}